body,
html {
  margin: 0;
}
* {
  box-sizing: border-box;
}
@font-face {
  font-family: "BariolBold";
  src: local("BariolBold"),
    url(./../fonts/Bariol-Bold-Webfont/bariol_bold-webfont.woff) format("woff");
}
@font-face {
  font-family: "BariolThin";
  src: local("BariolThin"),
    url(./../fonts/Bariol-Thin-Webfont/bariol_thin-webfont.woff) format("woff");
}
@font-face {
  font-family: "Bariol";
  src: local("BariolThin"),
    url(./../fonts/Bariol-Regular-Webfont/bariol_regular-webfont.woff)
      format("woff");
}

.hidden-xs{
  display: none !important;
}
.hidden-sm{
  display: none !important;
}
@media only screen and (min-width: 450px){
  .hidden-xs{
    display: block !important;
  }
}
@media only screen and (min-width: 768px){
  .hidden-sm{
    display: flex !important;
  }
}