.btn {
  font-weight: $font-weight-base;
  font-size: $font-size-base;
  text-decoration: none;
  border-radius: 4px;
  padding: 0.75rem 2rem;
  //margin: 0.5rem;
  outline: none;
  border: none;

  &.btn-primary {
    color: $white;
    background: $green;
    border: 1px solid $green;
    &:hover, &:active, &:focus{
     background:  darken( $green, 5% );
    }

  }
  &.btn-secondary {
    color: $green;
    background: $white;
    border: 1px solid $green;
    &:hover, &:active, &:focus{
      background:  darken( $white, 5% );
     }
 
  }
  &.btn-collapse {
    color: $black;
    border-radius: 0;
    border-bottom: 1px solid $black;
    .collapse-icon {
      margin-left: 0.5rem;
      transition: transform .4s;
    }
    &.open {
      .collapse-icon {
        transform: rotate(-180deg);
      }
    }
  }
}
