$green: #27be8c;
$red: #ed6a5f;
$purple: #773d94;
$lightBlue: #f3f6f9;
$blue: #49708a;
$yellow: #f5bf4f;
$white: #fff;
$offWhite: #f9f9f9;
$lightGray: #e9e9e9;
$mediumGray: #a1abb7;
$darkGray: #494949;
$black: #000;
