@font-face {
    font-family: "BariolBold";
    src: local("BariolBold"),
      url(./../fonts/Bariol-Bold-Webfont/bariol_bold-webfont.woff) format("woff");
}



p,a,li,h1,h2,h3,h4,h5, span, button, label{
    font-family: "Heebo", sans-serif;
}
$font-size-sm: .8rem;
$font-size-base: 1rem;
$font-size-lg: 1.2rem;

$font-weight-light: 300;
$font-weight-base: 400;
$font-weight-bold: 500;
