.landing-page .prod-block-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vh;
  height: 50vh;
  grid-gap: 0.5rem;
  padding: .25rem;
}
.landing-page .prod-block-grid.loaded .prod-block-wrapper {
  transform: translateY(0);
}
.landing-page .prod-block-grid-row.first-row .prod-block-wrapper:nth-child(1) {
  transition-delay: 0s;
}
.landing-page .prod-block-grid-row.first-row .prod-block-wrapper:nth-child(2) {
  transition-delay: 0.05s;
}
.landing-page .prod-block-grid-row.second-row .prod-block-wrapper:nth-child(1) {
  transition-delay: 0.15s;
}
.landing-page .prod-block-grid-row.second-row .prod-block-wrapper:nth-child(2) {
  transition-delay: 0.25s;
}
.landing-page .prod-block-grid-row.third-row .prod-block-wrapper:nth-child(1) {
  transition-delay: 0.35s;
}
.landing-page .prod-block-grid-row.third-row .prod-block-wrapper:nth-child(2) {
  transition-delay: 0.45s;
}

.landing-page .prod-block-grid-row {
  flex-basis: 50%;
  width: 100%;
  display: flex;
  
}
.landing-page .prod-block-grid-row.third-row {
  display: none;
}
.landing-page .prod-block-wrapper {
  height: 100%;
  padding: 0.25rem;
  transform: translateY(100vh);
  transition: 0.3s transform;
}
.landing-page .prod-block {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  flex-direction: column;
  height: 100%;
  padding: 0.5rem;
}
.landing-page .prod-icon-row {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.landing-page .prod-special-icon {
  padding: 0.25rem;
  margin: 0.25rem;
  color: #fff;
  background: #f5bf4f;
  width: 1.8rem;
  height: 1.8rem;
  font-size: 1rem;
  line-height: 1rem;
  text-align: center;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.landing-page .prod-special-icon:before {
  position: absolute;
  content: "";
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 4px;
  left: 0;
  top: 0;

  background-color: transparent;
  box-shadow: 0px 0px 3px 3px #f5bf4f;
  -webkit-animation: active 2s infinite linear;
  animation: active 2s infinite linear;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.landing-page .prod-price-icon {
  padding: 0.25rem;
  margin: 0.25rem;
  color: #fff;
  background: #63c756;
  width: 1.8rem;
  height: 1.8rem;
  font-size: 1rem;
  line-height: 1rem;
  text-align: center;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.landing-page .prod-price-icon:before {
  position: absolute;
  content: "";
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 4px;
  left: 0;
  top: 0;

  background-color: transparent;
  box-shadow: 0px 0px 3px 3px #63c756;
  -webkit-animation: active 2s infinite linear;
  animation: active 2s infinite linear;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.landing-page .prod-image-wrapper {
  position: relative;
  flex: 1;

  display: flex;
  justify-content: center;
}
.landing-page .prod-image-wrapper img {
  max-width: 100%;
  max-height: 100%;
}
@keyframes glow {
  0% {
    transform: scale(1);
    opacity: 0.7;
  }

  99.9% {
    transform: scale(1.2);
    opacity: 0;
  }
  100% {
    transform: scale(0);

    opacity: 0;
  }
}
@media only screen and (min-width: 450px) {
  .landing-page .prod-block-grid-row.third-row {
    display: flex;
  }

  .landing-page .prod-block-grid {
    height: 70vh;
    width: 45vw;
    
  }
}

@media only screen and (min-width: 840px) {

  .landing-page .prod-block-grid {
    height: 75vh;
    width: 50vh;

  }
}