body,
html {
  margin: 0;
}
* {
  box-sizing: border-box;
}
@font-face {
  font-family: "BariolBold";
  src: local("BariolBold"),
    url(./fonts/Bariol-Bold-Webfont/bariol_bold-webfont.woff) format("woff");
}
@font-face {
  font-family: "BariolThin";
  src: local("BariolThin"),
    url(./fonts/Bariol-Thin-Webfont/bariol_thin-webfont.woff) format("woff");
}
@font-face {
  font-family: "Bariol";
  src: local("BariolThin"),
    url(./fonts/Bariol-Regular-Webfont/bariol_regular-webfont.woff)
      format("woff");
}




.on-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.subhead {
  font-family: "Bariol", Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  max-width: 70%;
  margin: 0 auto;
  text-align: center;
}
.headline {
  font-family: "BariolBold", Arial, Helvetica, sans-serif;
  font-size: 2rem;
  text-align: center;
  margin: 0.5rem;
  margin-top: 2rem;
}
.email {
  font-family: "BariolBold", Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  padding: 10px;
  outline: none;
  border: 1px solid #f0f0f0;
  flex: 1;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.join {
  background: #fff;
  padding: 1rem 2rem;
  color: #773d94;
  font-family: "BariolBold", Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  border-radius: 4px;
  border: 1px solid #773d94;
  margin: 2rem auto;
  display: block;
  transition: 0.2s color, 0.2s background;
}
.join:hover {
  color: #fff;
  background: #773d94;
}
.subscribe {
  background: #773d94;
  padding: 1rem 2rem;
  color: #fff;
  font-family: "BariolBold", Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.feature {
  margin: 4rem 0;
}
.feature-header {
  font-family: "BariolBold", Arial, Helvetica, sans-serif;
  font-size: 2rem;
  text-align: center;
  margin: 1rem;
}
.feature-subheader {
  font-family: "Bariol", Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  text-align: center;
  max-width: 70vw;
  margin: 1rem auto;
}

.product-feed {
  background-color: #f0f0f0;
  max-width: 70vw;
  overflow: auto;
  display: flex;
  margin: auto;
  padding: 2rem 0;
  position: relative;
  border-radius: 4px;
}
.customer-dashboard {
  padding: 2rem 0;
}
.affiliate-dashboard {
  background: rgba(119, 61, 148, 0.1);
  padding: 2rem 0;
}
.affiliate {
  max-width: 70vw;
  margin: 1rem auto;
}
.affiliate-logo {
  max-width: 150px;
  max-height: 150px;
}
.product-wrapper {
  display: flex;
  background-color: #f8f8f8;
  padding: 0.2rem;
  border-radius: 4px;
  max-width: 70vw;
  margin: 1rem auto;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.prod-image {
  max-width: 100%;
  align-self: center;
}
.product-image-wrapper {
  width: 100px;
  height: 100px;
  border-radius: 4px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #f0f0f0;
}
.favorite {
  max-width: 40px;
  align-self: center;
  margin-right: 0.5rem;
}
.product-image {
  max-width: 100px;
  max-height: 100px;
  padding: 0.5rem;
}
.product-details {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.title-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.product-link {
  background: #773d94;
  padding: 0.5rem 1rem;
  color: #fff;
  font-family: "BariolBold", Arial, Helvetica, sans-serif;
  border-radius: 4px;
  font-size: 1rem;
}
.product-title {
  margin: 0;
  font-family: "BariolBold", Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}
.special-offers {
  margin-top: 0.5rem;
  background-color: #fff;
  flex: 1;
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 0.5rem 2rem;
}
.special-offer-text {
  font-family: "Bariol", Arial, Helvetica, sans-serif;
  color: #c8c8c8;
  margin: 0;
}
.special-offer-text.offer {
  font-family: "BariolBold", Arial, Helvetica, sans-serif;
  color: #fac54b;
}

.affiliate-dash {
  max-width: 70vw;
  margin: auto;
  display: block;
}

.product-feed pre {
  margin: auto;
}

.main {
  display: flex;
  flex-direction: row;
  max-width: 70vw;
  margin: 4rem auto;
}

.main-right {
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
  padding-left: 2rem;
}

.column-wrapper {
  display: flex;
  flex-direction: row;
}

.left-column {
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
}

.right-column {
  background-color: #f0f0f0;
  flex-basis: 40%;
  margin: 0.5rem;
  margin-right: 0;
}

.buyButton {
  background-color: #f0f0f0;
  height: 4rem;
  width: 70%;
  margin-top: 0.5rem;
  align-self: flex-end;
}

.prod-name {
  height: 4rem;
  background-color: #f0f0f0;
}

.sub-title {
  height: 1rem;
  background-color: #f0f0f0;
  margin: 0.5rem 0;
  width: 50%;
}

.text-line {
  height: 1rem;
  background-color: #f0f0f0;
  margin: 0.5rem 0;
}

.main-left {
  display: flex;
  flex-direction: column;
  flex-basis: 60%;
  padding-right: 2rem;
  border-right: 1px solid #f0f0f0;
}

.hero {
  background-color: #f0f0f0;
  min-width: 300px;
  min-height: 300px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}


.wrapper {
  display: flex;
  padding: 0.5rem 0;
}

.beacon {
  margin: 5px;
  background-color: #f0f0f0;
  height: 40px;
  width: 40px;
  border-radius: 4px;
  position: relative;
}

.beacon img {
  border-radius: 4px;
}

.blink {
  background: #773d94;
}

.beacon.blink:before {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  border-radius: 4px;
  left: 0;
  top: 0;

  background-color: transparent;
  box-shadow: 0px 0px 3px 3px #773d94;
  -webkit-animation: active 2s infinite linear;
  animation: active 2s infinite linear;
}

@-webkit-keyframes active {
  0% {
    -webkit-transform: scale(1);
    opacity: 0.7;
  }
  70% {
    -webkit-transform: scale(1.2);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes active {
  0% {
    transform: scale(1);
    opacity: 0.7;
  }
  70% {
    transform: scale(1.2);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
